@import "./reset.css";
@import "./base.css";
@import "./splash.css";

@import "tailwindcss";
@import "vue-material-design-icons/styles.css";

@custom-variant dark (&:where(.dark, .dark *));

@import "./content.css";
@import "./docs.css";

/* Reset some icon default styles for more predictable alignment */
.material-design-icon > .material-design-icon__svg {
  position: static;
  bottom: 0;
}

body {
  overflow-y: scroll;
  background: var(--color-bg);
  color: var(--color-text-2);
}
